
<!-- JQuery -->
<script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script> 

<!-- Bootstrap -->
<script
  src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
  integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
  crossorigin="anonymous"></script> 


<!-- Custom script -->
<script
  src="{{tpl:BlogThemeURL}}/js/main.js" defer></script>

<style type="text/css"> 
 @import url(https://www.geeek.org/rateit/linker.css); 
</style> 
<style type="text/css"> 
 @import url(https://www.geeek.org/rateit/rateit.css); 
</style> 
