<!-- HTML Meta Tags -->
<meta name="description" content="{{tpl:BlogDescription cut_string="180" encode_html="1"}}" />

<!-- Google / Search Engine Tags -->
<link itemprop="url" rel="canonical" href="{{tpl:BlogURL}}" />
<meta itemprop="name" content="{{tpl:BlogName encode_html="1"}}" />
<meta itemprop="description" content="{{tpl:BlogDescription cut_string="180" encode_html="1"}}" />
<meta itemprop="keywords" name="keywords" content="<tpl:Tags limit="12">{{tpl:TagID}},</tpl:Tags>" />
<meta itemprop="creator" content="Ludovic Toinel" />
<meta itemprop="image" content="https://static.geeek.org/public/design/logo-geeek.png" />

<!-- Facebook Meta Tags -->
<meta property="og:type" content="website" />
<meta property="og:image" content="https://static.geeek.org/public/design/logo-geeek.png" />
<meta property="og:site_name" content="{{tpl:BlogName encode_html="1"}}" />
<meta property="og:description" content="{{tpl:BlogDescription cut_string="180" encode_html="1"}}" />
<meta property="og:url" content="{{tpl:BlogURL}}" />
<meta property="og:title" content="{{tpl:BlogName encode_html="1"}}" />
<meta property="fb:page_id" content="119304697552" />
<meta property="fb:admins" content="539882075" />

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image"/>
<meta name="twitter:description" content="{{tpl:BlogDescription cut_string="180" encode_html="1"}}"/>
<meta name="twitter:title" content="{{tpl:BlogName encode_html="1"}}"/>
<meta name="twitter:site" content="@ltoinel"/>
<meta name="twitter:image" content="http://static.geeek.org/public/design/logo-geeek.png" />


