<!-- HTML Meta Tags -->
<tpl:EntryIf extended="1">
<meta name="description" lang="{{tpl:EntryLang}}" content="{{tpl:EntryCategory}}: {{tpl:EntryExcerpt encode_html="1" remove_html="1" cut_string="180"}}" />
</tpl:EntryIf>
<tpl:EntryIf extended="0">
<meta name="description" lang="{{tpl:EntryLang}}" content="{{tpl:EntryCategory}}: {{tpl:EntryContent full="0" encode_html="1" remove_html="1" cut_string="155"}}" />
</tpl:EntryIf>

<link rel="canonical" href="{{tpl:EntryURL}}" />
<link rel="alternate" type="application/rss+xml" title="Comments" href="{{tpl:BlogFeedURL type="rss2"}}/comments/{{tpl:EntryID}}" />
<link rel="alternate" type="application/atom" title="Comments" href="{{tpl:BlogFeedURL type="atom"}}/comments/{{tpl:EntryID}}" />

<!-- Google / Search Engine Tags -->
<meta itemprop="name" content="{{tpl:EntryTitle encode_html="1"}}" />
<tpl:EntryIf extended="1">
<meta itemprop="description" content="{{tpl:EntryCategory}}: {{tpl:EntryExcerpt encode_html="1" remove_html="1" cut_string="180"}}" />
</tpl:EntryIf>
<tpl:EntryIf extended="0">
<meta itemprop="description" content="{{tpl:EntryCategory}}: {{tpl:EntryContent full="0" encode_html="1" remove_html="1" cut_string="155"}}" />
</tpl:EntryIf>
<meta itemprop="image" content="{{tpl:EntryFirstImage no_tag="1" size="m"}}" />

<!-- Facebook Meta Tags -->
<meta property="og:title" content="{{tpl:EntryTitle encode_html="1"}}" />
<meta property="og:type" content="article" />
<meta property="og:url" content="{{tpl:EntryURL}}" />
<meta property="og:image" content="{{tpl:EntryFirstImage no_tag="1" size="m"}}" />
<meta property="og:locale" content="fr_FR" />
<meta property="og:site_name" content="{{tpl:BlogName encode_html="1"}}" />
<meta property="article:author" content="https://www.facebook.com/ltoinel" />
<meta property="article:publisher" content="https://www.facebook.com/geeek.org" />
<meta property="fb:page_id" content="119304697552" /> 
<meta property="fb:admins" content="539882075" />
<tpl:EntryIf extended="1">
<meta property="og:description" content="{{tpl:EntryCategory}}: {{tpl:EntryExcerpt encode_html="1" remove_html="1" cut_string="180"}}" />
</tpl:EntryIf>
<tpl:EntryIf extended="0">
<meta property="og:description" content="{{tpl:EntryCategory}}: {{tpl:EntryContent full="0" encode_html="1" remove_html="1" cut_string="155"}}" />
</tpl:EntryIf>

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image"/>
<meta name="twitter:title" content="{{tpl:EntryTitle encode_html="1"}}"/>
<meta name="twitter:site" content="@ltoinel"/>
<meta name="twitter:image" content="{{tpl:EntryFirstImage no_tag="1" size="m"}}"/>
<meta name="twitter:creator" content="@ltoinel"/>
<tpl:EntryIf extended="1">
<meta name="twitter:description" content="{{tpl:EntryCategory}}: {{tpl:EntryExcerpt encode_html="1" remove_html="1" cut_string="180"}}" />
</tpl:EntryIf>
<tpl:EntryIf extended="0">
<meta name="twitter:description" content="{{tpl:EntryCategory}}: {{tpl:EntryContent full="0" encode_html="1" remove_html="1" cut_string="155"}}" />
</tpl:EntryIf>

