<!-- Meta tags Open Graph -->
<meta property="og:type" content="website" />
<meta property="og:image" content="https://static.geeek.org/public/design/logo-geeek.png" />
<meta property="og:site_name" content="{{tpl:BlogName encode_html="1"}}" />
<meta property="og:description" content="{{tpl:BlogDescription cut_string="180" encode_html="1"}}" />
<meta property="og:url" content="{{tpl:BlogURL}}" />
<meta property="og:title" content="{{tpl:BlogName encode_html="1"}}" />
<meta property="fb:page_id" content="119304697552" />
<meta property="fb:admins" content="539882075" />

<meta name="twitter:card" content="summary"/>
<meta name="twitter:description" content="{{tpl:BlogDescription cut_string="180" encode_html="1"}}"/>
<meta name="twitter:title" content="{{tpl:BlogName encode_html="1"}}"/>
<meta name="twitter:site" content="@ltoinel"/>
